p {
  font-size: 1rem;
  font-weight: 550;
  letter-spacing: 0.25px;
}

span {
  font-size: 0.85rem;
  letter-spacing: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(232, 238, 246);
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 2em;
}

.subContainer {
  display: flex;
  background-color: rgb(250, 250, 250);
  width: 85%;
  height: 100%;
  margin: 3em 0 5em 0;
  padding: 2em 3em;
  box-shadow: 0 1px 18px rgb(146, 143, 143);
}

.leftSub {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  border-right: 1px solid rgb(218, 218, 218);
  width: 52%;
  height: 100%;
}

.rightSub {
  display: flex;
  width: 45%;
  height: 100%;
  margin-left: 2em;
}

.leftDetails {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 100%;
  margin-right: 1.5em;
}

.leftDetails > div {
  margin-bottom: 1.2em;
}

.rightDetails {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.rightDetails > div {
  margin-bottom: 1.2em;
}

.name {
  letter-spacing: 1px;
  text-shadow: 0 1px 3px;
  font-size: 3.5rem;
  text-align: center;
}

.flag {
  max-width: 100%;
  width: 80%;
  align-self: center;
  height: auto;
  box-shadow: 0 0 4px rgb(146, 143, 143);
  margin-bottom: 10em;
}

.backButton {
  display: flex;
  align-items: center;
  padding: 0.6em 1.8em;
  background-color: rgb(240, 238, 238);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all;
}

.backButton:focus {
  outline: none;
  transform: translateY(-1px);
}
.backButton:active {
  outline: none;
  transform: translateY(-1px);
}

.backButton:hover {
  background-color: rgb(0, 128, 128);
  color: #ffff;
  transform: translateY(-2px);
}

.backButtonText {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.8px;
}

.arrow {
  width: 2rem;
  height: auto;
  color: #000;
  margin-right: 0.5em;
}






@media screen and (max-width: 3760px) {
  span {
    font-size: 1.3rem;
  }

  p {
    font-size: 2rem;
  }

  .name {
    font-size: 5rem;
  }

  .backButtonText {
    font-size: 2rem;
  }

  .arrow {
    width: 4rem;
  }

  .flag {
    width: 70%;
  }
}

@media screen and (max-width: 3300px) {
  .flag {
    width: 80%;
  }
}

@media screen and (max-width: 2700px) {
  span {
    font-size: 1.1rem;
  }

  p {
    font-size: 1.8rem;
  }

  .name {
    font-size: 3.8rem;
  }

  .backButtonText {
    font-size: 1.8rem;
  }

  .arrow {
    width: 2.5rem;
  }

  .flag {
    width: 90%;
  }
}

@media screen and (max-width: 2300px) {
  span {
    font-size: 1rem;
  }

  p {
    font-size: 1.4rem;
  }

  .name {
    font-size: 3.5rem;
  }

  .backButtonText {
    font-size: 1.4rem;
  }

  .arrow {
    width: 2.2rem;
  }

  .flag {
    width: 100%;
  }
}

@media screen and (max-width: 1800px) {
  span {
    font-size: 0.85rem;
  }

  p {
    font-size: 1rem;
  }

  .backButtonText {
    font-size: 1rem;
  }

  .arrow {
    width: 2rem;
  }
}

@media screen and (max-width: 1240px) {
  .name {
    font-size: 3.3rem;
  }
}

@media screen and (max-width: 1000px) {
  .name {
    font-size: 3.1rem;
  }
}

@media screen and (max-width: 900px) {
  span {
    font-size: 0.7rem;
  }

  p {
    font-size: .9rem;
  }

  .subContainer {
    flex-direction: column;
  }

  .leftSub {
    border-right: none;
    width: 100%;
  }

  .rightSub {
  width: 100%;
  margin: 0;
  }

  .leftDetails > div {
    margin-bottom: .5em;
  }

  .rightDetails > div {
    margin-bottom: .5em;
  }

  .flag {
    margin-bottom: 3em;
  }
  
  .name {
    font-size: 2.6rem;
  }

  .buttonSub {
    order: -1;
    margin-bottom: 3em;
  }

}

@media screen and (max-width: 600px) {
  span {
    font-size: 0.5rem;
  }

  p {
    font-size: .7rem;
  }

  .container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .name {
    font-size: 2rem;
  }

  .backButtonText {
    font-size: .7rem;
  }

  .arrow {
    width: 1.2rem;
  }

}
