.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 3em 0 4em 0;
}

.leftBox {
  display: flex;
  flex-direction: column;
  width: 23%;
  padding: 0.5em 0.8em;
  margin-left: 2em;
  border-radius: 6px;
  box-shadow: 0 1px 9px rgb(129, 129, 129);
}

.searchBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.searchInputBox {
  display: flex;
  justify-content: center;
  margin-bottom: 1.1em;
}

.input {
  width: 70%;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 6px;
  border: none;
  letter-spacing: 0.3px;
  font-weight: 450;
}

input:focus {
  outline-color: rgb(109, 152, 149);
  background-color: rgb(248, 248, 248);
}

.clearFilters {
  text-align: center;
  align-self: center;
  width: 20%;
  cursor: pointer;
  border-radius: 6px;
  color: rgb(250, 250, 250);
  background-color: rgb(109, 152, 149);
  box-shadow: 0 1px 4px #000;
  padding: 4px 0;
  transition: 0.2s ease;
  font-size: 1rem;
  font-weight: 450;
}

.clearFilters:hover {
  transform: translateY(-2px);
}

.clearFilters:active {
  transform: translateY(-1px);
}

.clearFiltersText {
  font-size: 1rem;
  letter-spacing: 0;
}

.rightBox {
  display: flex;
  flex-direction: column;
  width: 23%;
  padding: 0.5em 0.8em;
  border-radius: 6px;
  margin-right: 2em;
  box-shadow: 0 1px 9px rgb(129, 129, 129);
}

.sortFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.3rem;
}

.textSize {
  font-size: 18px;
  width: 60%;
  margin-left: 1rem;
}

.iconContainer {
  display: flex;
  width: 38%;
}

.iconSize {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.iconSize:hover {
  transition: 0.3s all;
  transform: translateY(-1px);
  color: rgb(250, 87, 87);
}

.iconSize:active {
  transform: translateY(1px);
}




/*** Media Queries ***/

@media screen and (max-width: 7000px) {
  .leftBox {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 0.5em 0.8em;
    margin-left: 2em;
  }

  .rightBox {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 0.5em 0.8em;
    margin-right: 2em;
  }

  .input {
    width: 80%;
    height: 3rem;
    padding: 2em 0;
    font-size: 1.5rem;
    border-radius: 6px;
  }

  .filterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3em 0 4em 0;
  }
  .clearFilters {
    text-align: center;
    align-self: center;
    width: 20%;

    padding: 1em 0;
  }

  .clearFiltersText {
    font-size: 1.4rem;
  }

  .textSize {
    font-size: 22px;
    width: 60%;
    margin-left: 1rem;
  }

  .iconContainer {
    display: flex;
    width: 38%;
  }

  .iconSize {
    font-size: 2.3rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 1920px) {

  .textSize {
    font-size: 20px;
  }

  .iconSize {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 1800px) {
  .leftBox {
    width: 20%;
  }

  .rightBox {
    width: 20%;
  }

  .input {
    font-size: 1.4rem;
  }
  
}

@media screen and (max-width: 1440px) {
  .leftBox {
    width: 23%;
  }

  .input {
    font-size: 1rem;
  }

  .clearFiltersText {
    font-size: 1rem;
  }

  .textSize {
    font-size: 18px;
  }

  .iconSize {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .leftBox {
    width: 25rem;
    margin: 0 0 6px 0;
  }

  .rightBox {
    width: 25rem;
    margin: 0;
  }

  .searchBox {
    align-self: center;
    order: -1;
    margin-bottom: 3em;
    width: 30rem;
  }

  .input {
    width: 100%;
    order: 1;
  }

  .filterContainer {
    flex-direction: column;
  }
  .clearFilters {
    width: 45%;
  }
}

@media screen and (max-width: 520px) {

  .searchBox {
    width: 20rem;
  }

  .clearFiltersText {
    font-size: .85rem;
  }

  .textSize {
    font-size: 16px;
  }

  .iconSize {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 435px) {
  .leftBox {
    width: 15rem;
  }

  .rightBox {
    width: 15rem;
  }

 
  .clearFilters {
    width: 40%;
  }

  
}
@media screen and (max-width: 330px) {
  .leftBox {
    width: 12rem;
  }

  .rightBox {
    width: 12rem;
  }

  .searchBox {
    width: 12rem;
  }

  .clearFilters {
    width: 60%;
  }

  .iconContainer {
    width: 32%;
    padding: 0;
  }

  .iconSize {
    font-size: 1.3rem;
    margin-right: 0;

  }
}

@media screen and (max-width: 235px) {

  .filterContainer {
    margin: 3em 0 4em 1em;
  }
}

@media screen and (max-width: 170px) {
 
  .filterContainer {
    margin: 3em 0 4em 2em;
  }
  
}