.gridContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1em;
}

.gridBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 33rem;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 1px 18px rgb(146, 143, 143);
}

.imageContainer {
  width: 95%;
  height: 14rem;
  margin: 1.2em 0;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 4px rgb(146, 143, 143);
}

.nameText {
  color: #000;
  letter-spacing: 1px;
  font-size: 1.3rem;
  text-align: center;
}

.nameText:hover {
  color: rgb(113, 157, 154);
  transition: 0.3s all;
  text-decoration: none;
}

.nativeName {
  text-align: center;
  margin-bottom: 0.2em;
}

.gridText {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.2em;
  text-align: center;
}

.gridIcon {
  color: #000;
  width: 1rem;
  height: auto;
  margin-right: 0.5em;
}

.areaSpan {
  font-size: 1rem;
  letter-spacing: 0;
}

/*** Media Queries ***/

@media screen and (max-width: 7000px) {
  .gridContainer {
    grid-template-columns: repeat(6, auto);
    grid-gap: 1em;
  }

  .gridBox {
    width: 25rem;
    height: 41rem;
  }

  .imageContainer {
    width: 95%;
    height: 14rem;
    margin: 1.2em 0;
  }

  .nameText {
    font-size: 1.7rem;
  }

  .nativeName {
    font-size: 1.4rem;
  }

  .gridText {
    font-size: 1.4rem;
  }

  .gridIcon {
    width: 1.4rem;
  }

  .areaSpan {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 2500px) {
  .gridContainer {
    grid-template-columns: repeat(5, auto);
  }

  .gridBox {
    height: 38rem;
  }

  .nameText {
    font-size: 1.5rem;
  }

  .nativeName {
    font-size: 1.3rem;
  }

  .gridText {
    font-size: 1.3rem;
  }

  .gridIcon {
    width: 1.3rem;
  }

  .areaSpan {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 2140px) {
  .gridContainer {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (max-width: 1750px) {
  .gridContainer {
    grid-template-columns: repeat(3, auto);
  }

  .gridBox {
    height: 38rem;
  }

  .nativeName {
    font-size: 1.2rem;
  }

  .gridText {
    font-size: 1.2rem;
  }

  .gridIcon {
    width: 1.2rem;
  }

  .areaSpan {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1350px) {
  .gridBox {
    height: 33rem;
  }

  .nameText {
    font-size: 1.3rem;
  }

  .nativeName {
    font-size: 1rem;
  }

  .gridText {
    font-size: 1rem;
  }

  .gridIcon {
    width: 1rem;
  }

  .areaSpan {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1250px) {
  .gridContainer {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 900px) {
  .gridContainer {
    grid-template-columns: repeat(1, auto);
  }
}

@media screen and (max-width: 520px) {
  .gridBox {
    width: 22rem;
  }
}

@media screen and (max-width: 400px) {
  .gridBox {
    width: 20rem;
    height: 26rem;
  }

  .imageContainer {
    height: 10rem;
  }

  .nameText {
    font-size: 1.2rem;
  }

  .nativeName {
    font-size: 14px;
  }

  .gridText {
    font-size: 14px;
  }

  .gridIcon {
    width: 14px;
  }

  .areaSpan {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .gridBox {
    width: 17rem;
    height: 25rem;
  }

  .nameText {
    font-size: 1.1rem;
  }

  .nativeName {
    font-size: 12px;
  }

  .gridText {
    font-size: 12px;
  }

  .gridIcon {
    width: 12px;
  }

  .areaSpan {
    font-size: 12px;
  }
}

@media screen and (max-width: 310px) {
  .gridBox {
    margin-left: 1.2rem;
  }
}

@media screen and (max-width: 260px) {
  .gridBox {
    width: 12rem;
    margin-left: 2rem;
  }

  .imageContainer {
    width: 70%;
    height: 5rem;
  }
}

@media screen and (max-width: 185px) {
  .gridBox {
    width: 9rem;
    height: 19rem;
  }

  .imageContainer {
    margin: 1em 0;
  }

  .nativeName {
    font-size: 10px;
  }

  .gridText {
    font-size: 10px;
  }

  .gridIcon {
    width: 10px;
  }

  .areaSpan {
    font-size: 10px;
  }
}

@media screen and (max-width: 130px) {
  .gridBox {
    margin-left: 5.5rem;
  }
}
